* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#container .header {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 2% 3%;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-family: "Arial";
    color: #3d3d3d;
}

.result-board {
    padding: 30px 20px;
    height: auto;
    background-color: aqua;
    width: 95%;
    border-radius: 20px;
    background: linear-gradient(45deg, #12f0e1, rgb(18, 240, 225), rgb(18, 240, 225), rgb(49, 209, 171));
}

#student-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: "Arial";
}

.studentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.studentHeader h1 {
    color: #625c5cd5;
    text-transform: uppercase;
}

#showResult {
    /* From Uiverse.io by adamgiebl */
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background-color: #31d1ab;
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

#showResult:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #31d1ab;
    transform: translateY(-0.1em);
}

#showResult:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}

#result-board {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.result-board-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}

.student-card-box {
    padding: 30px 20px;
    width: 100%;
    border-radius: 20px;
    font-family: "Arial";
    background: linear-gradient(45deg, #12f0e1, rgb(18, 240, 225), rgb(18, 240, 225), rgb(49, 209, 171));
}

.student-data-active {
    background-color: #ffffff;
    padding: 12px 20px 20px 20px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    gap: 7px;
    justify-content: space-between;
    margin-top: 20px;
}

.data-column {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    align-items: center;
    z-index: 9;
    border-right: 1px solid #9696967a;
    gap: 10px;
    flex: 1;
}

.data-column:last-child {
    border: none;
}

.data-column h4 {
    font-size: 16px;
    font-weight: 600;
    font-family: "Calibri";
    white-space: nowrap;
}

.data-column p {
    font-size: 14px;
    color: #3d3d3d;
}

.average-box {
    background: #f1f5ff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.average-box span {
    color: #1e40af;
}